/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Archivo', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 10%;
}

.padding {
  padding: 2rem 0;
}

.padding-side {
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.item-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* columns */
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* full-width */
.width-full {
  width: 100%;
}

/* Center Elements */
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Texts */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 1.5rem;
  font-size: 0.95rem;
}

.btn-primary {
  background-color: #dc3c45;
  color: white;
}

.btn-secondary {
  border: 1px solid #dc3c45;
  background-color: white;
  color: #dc3c45;
}

.btn-tertiary {
  background-color: #dc3c45;
  color: white;
  border: 1px solid white;
}

.contact-header {
  background-color: #dc3c45;
  font-size: 1rem;
  padding: 1rem 10%;
}

.contact-header a {
  color: white;
}

.header-nav i {
  padding-left: 1rem;
}

.phone-contact {
  padding-right: 2rem;
}

.email i {
  padding-right: 0.5rem;
}

.navbar {
  background-color: #f2f2f2;
}

.brand {
  font-size: 2rem;
  font-weight: 900;
  color: #3b3b3b;
}

.brand strong {
  color: #dc3c45;
}

.nav-menu {
  padding: 1.1rem;
}

.nav-menu a {
  color: #3b3b3b;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-menu a.bg:hover {
  color: white;
  background-color: #f06b6b;
}

.nav-menu a.active {
  color: white;
  background-color: #f06b6b;
}

.nav-menu li a {
  padding: 1.5rem 1rem;
}

.pages-sub-menu-box {
  position: relative;
}

.pages-sub-menu-box:hover .pages-menu {
  display: inline-block;
  z-index: 33;
}

.pages-menu {
  position: absolute;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 3px 8px #8d8b8b;
          box-shadow: 0 3px 8px #8d8b8b;
  width: 8rem;
  text-align: left;
  z-index: 11;
  left: 18%;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  top: 3.1rem;
  display: none;
}

.blog-sub-menu-box {
  position: relative;
}

.blog-sub-menu-box:hover .blog-menu {
  display: inline-block;
  z-index: 33;
}

.blog-menu {
  position: absolute;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 3px 8px #8d8b8b;
          box-shadow: 0 3px 8px #8d8b8b;
  width: 9rem;
  text-align: left;
  z-index: 11;
  left: 24%;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  top: 3rem;
  display: none;
}

.hero-text {
  padding: 12% 0 0 0;
  position: absolute;
  z-index: 9;
}

h1 {
  color: #1b1e24;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

h1 ~ p {
  color: #3b3b3b;
  font-weight: 500;
  padding: 1rem 0;
}

.hero img {
  width: 100%;
  position: relative;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #1b1e24;
}

h3 ~ p {
  color: #7c848b;
  font-size: 1.3rem;
  font-weight: 400;
}

.services {
  border: 1px solid #cac6c6;
  border-radius: 1rem;
}

.services-box {
  margin: 2rem 0;
}

.services-box p {
  padding-bottom: 2rem;
}

.services svg {
  width: 25%;
  height: 25%;
  margin: 3rem 0 1rem 0;
}

.services button {
  margin: 1rem 0 5rem 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3b3b3b;
}

h4 ~ p {
  font-size: 1rem;
  color: #7c848b;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #1b1e24;
  margin: 2rem 0;
}

h2 ~ p {
  font-size: 1.2rem;
  color: #7c848b;
}

.solution {
  background-color: #f2f2f2;
  padding-left: 16%;
  padding-right: 16%;
}

.solution button {
  margin: 2rem 0;
}

.consulting-box {
  margin: 5rem 0;
}

.consulting svg {
  width: 40%;
  height: 20%;
}

.consulting p {
  padding: 1rem 0;
}

.team-img img {
  width: 100%;
}

.quote-box {
  background-color: #dc3c45;
  color: white;
  padding: 3rem 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 ~ p {
  font-size: 1.2rem;
}

.industry-leader {
  margin: 3rem 0;
}

.industry-leader text {
  margin-top: 2rem;
}

.industry-leader img {
  width: 100%;
}

.clients {
  background-color: #f2f2f2;
  padding: 2rem 0;
}

.clients img {
  height: 4rem;
  margin: 1rem;
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
}

.clients :hover {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.clients-image {
  overflow: auto;
}

.clients-image::-webkit-scrollbar {
  display: none;
}

footer {
  background-color: #7c848b;
  color: white;
}

footer .footer-nav i {
  padding-right: 1rem;
}

.footer-text > strong {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.footer-text a {
  font-size: 1.2rem;
  font-weight: 400;
  color: #cac8c8;
}

.footer-text i {
  padding-right: 0.5rem;
}

.copyright {
  font-size: 1rem;
  color: #cecaca;
}

.copyright strong {
  font-size: 1.1rem;
  color: white;
}

.pages-section {
  background-color: #dc3c45;
}

.pages-section h1, .pages-section p {
  color: white;
}

.pages-section h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.pages-section p {
  font-size: 1rem;
  font-weight: 400;
}

.pages-industry-leader img {
  width: 100%;
}

.pages-industry-leader strong {
  color: #dc3c45;
  font-weight: 600;
}

.pages-industry-leader h3 {
  padding: 1rem 0;
  line-height: 1.2;
}

.vision {
  margin: 3rem 0;
}

.vision img {
  width: 100%;
}

.vision h6 {
  font-weight: 600;
  color: #1b1e24;
}

.vision p {
  font-size: 1rem;
  color: #7c848b;
}

.vision i {
  font-size: 3rem;
  color: #1b1e24;
  padding-right: 2rem;
}

.team {
  background-color: #f2f2f2;
  padding: 1rem 0 5rem 0;
}

.team h2 {
  margin: 3rem 0 0 0;
}

.team h6 {
  padding-bottom: 2rem;
}

.team img {
  width: 100%;
}

.team-img-box div {
  background-color: white;
}

.team-img-box strong {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.team-img-box small {
  font-size: 0.9rem;
  font-weight: 400;
  color: #dc3c45;
  padding: 0.5rem 0 2rem 0;
}

.about-solution button {
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */